<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Movie diary</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
<link type="text/css" rel="stylesheet" href="/css/css/bootstrap.min.css"
	th:href="@{/css/css/bootstrap.min.css}" />
</head>
<body>
	<br>
	<br>
	<div class="container vertical-center col-md-4 col-md-offset-6">
		<h3 class="text-secondary">Edit the movie attributes</h3>
		<br>

		<form th:object="${movie}" th:action="@{../save}" action="#"
			method="post">
			<input type="hidden" th:field="*{id}" class="form-control" /> <input
				type="hidden" th:field="*{poster}" /> <input type="text"
				th:field="*{title}" /> <br>
			<br> <input type="text" th:field="*{year}" /> <br> <br>
			<input type="text" th:field="*{genre}" /> <br> <br> <label
				for="deplist">Movie type:</label> <select id="catlist"
				th:field="*{type}" class="form-control">
				<option
					th:each="movietype: ${T(fi.project.movielist.domain.MovieType).values()}"
					th:value="${movietype}" th:text="${movietype}"></option>
			</select><br> <input type="text" th:field="*{rating}" /> <br> <br>
			<input type="submit" class="btn btn-outline-primary" value="Save"></input>
		</form>
	</div>
</body>
</html>