<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Movie Diary</title>
<link type="text/css" rel="stylesheet" href="css/css/bootstrap.min.css"
	th:href="@{css/css/bootstrap.min.css}" />
<style>
.vertical-center {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one        */
	display: flex;
	align-items: center;
}
</style>
</head>
<body>
	<div class="container vertical-center col-md-6 col-md-offset-6">
		<h2 class="p-3"></h2>
		<br>
		<div class="alert alert-danger" th:if="${param.error}">Invalid
			username and password.</div>
		<div class="alert alert-warning" th:if="${param.logout}">You
			have been logged out.</div>
		<form th:action="@{/login}" method="post">
			<div>
				<label> User Name : <input type="text" name="username"
					class="form-control" />
				</label>
			</div>
			<div>
				<label> Password: <input type="password" name="password"
					class="form-control" />
				</label> <br>
			</div>
			<div>
				<input type="submit" value="Sign In" class=" btn btn-success" />
			</div>
			<a th:href="@{/signup}">Sign-up</a>
		</form>
	</div>
	<script type="text/javascript">
		function greeting() {
			var d = new Date();
			var time = d.getHours();
			var greetingText = time > 18 ? "Good evening!"
					: time > 12 ? "Good afternoon!" : "Good morning!";
			document.querySelector('h2').innerText = greetingText;
		}
		greeting()
	</script>
</body>
</html>